<p>Below is a simple three-tick codeblock.</p>
<pre><code>
FOO="BAR"
echo $FOO
</code></pre>
<p>Below is an indented codeblock</p>
<pre><code>
FOO="BAR"
echo $FOO
</code></pre>
<p>Below is a block specifying language.</p>
<pre><code class="language-bash">
FOO="BAR"
echo $FOO
</code></pre>

