<p><code>&lt;test a="</code> content of attribute <code>"&gt;</code></p>

<p>Fix for backticks within HTML tag: <span attr="`ticks`">like this</span></p>

<p>Here's how you put <code>`backticks`</code> in a code span.</p>

