<p>Just a <a href="/url/">URL</a>.</p>

<p><a href="/url/with_underscore/">URL with_underscore</a>.</p>

<p><a href="/url/" title="title">URL and title</a>.</p>

<p><a href="/url/" title="title preceded by two spaces">URL and title</a>.</p>

<p><a href="/url/" title="title preceded by a tab">URL and title</a>.</p>

<p><a href="/url/" title="title has spaces afterward">URL and title</a>.</p>

<p><a href="">Empty</a>.</p>
